<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <table class="table-dark table-hover">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Unit price 1</th>
                        <th>Unit price 2</th>
                        <th>Unit price 3</th>
                        <th>Unit price 4</th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <!-- Should be filled dynamically -->
                    <tr>
                        <td>Apple</td>
                        <td>Rs.</td>
                        <td>Rs.</td>
                        <td>Rs.</td>
                        <td>Rs.</td>               
                        <td>
                            <button class="btn btn-sm">
                                <a href="#">Order</a>
                            </button>
                        </td>               
                    </tr>
        
                    <tr>
                        <td>Kingcoconut</td>
                        <td>Rs.</td>
                        <td>Rs.</td>
                        <td>Rs.</td>
                        <td>Rs.</td> 
                        <td>
                            <button class="btn btn-sm">
                                <a href="#">Order</a>
                            </button>
                        </td>               
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>

