<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" routerLink="/">Price Calculator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Table area -->
    <div class="container m-2">
        <h4 class="text-center">PRICE SHEET</h4>
        <table class="table table-light table-hover m-5">
            <ng-container matColumnDef ="name">
                <th mat-header-cell *matHeaderCellDef>Product Name</th>
                <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>

            <ng-container matColumnDef ="price1">
                <th mat-header-cell *matHeaderCellDef>Price #1</th>
                <td mat-cell *matCellDef="let row">{{row.price1}}</td>
            </ng-container>

            <ng-container matColumnDef ="price2">
                <th mat-header-cell *matHeaderCellDef>Price #2</th>
                <td mat-cell *matCellDef="let row">{{row.price2}}</td>
            </ng-container>

            <ng-container matColumnDef ="price3">
                <th mat-header-cell *matHeaderCellDef>Price #3</th>
                <td mat-cell *matCellDef="let row">{{row.price3}}</td>
            </ng-container>

            <ng-container matColumnDef ="price4">
                <th mat-header-cell *matHeaderCellDef>Price #4</th>
                <td mat-cell *matCellDef="let row">{{row.price4}}</td>
            </ng-container>

            <ng-container matColumnDef ="price5">
                <th mat-header-cell *matHeaderCellDef>Price #5</th>
                <td mat-cell *matCellDef="let row">{{row.price5}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; column: displayColumns"></tr>
        </table>

        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select"></mat-paginator> -->
    <hr>
        
    <!-- Price Calculator -->
        <div class="card m-5">            
                <div class="card-header bg-dark">
                    <div class="row">
                        <h4 style="color: aliceblue; text-align: center;">
                            PRICE CALCULATOR
                        </h4> <small style="color: beige; text-align: center;">* Required Fields</small>
        
                    </div>
                </div>
            <div class="container">    
                <div class="card-body ">
                    <!-- <form [formGroup]="calcForm" (ngSubmit)="oncalcFormSubmit()"> -->
                    <form >
                        <div class="row">
                            
                            <div class="col">
                                <label for="type" class="form-label m-2">Product<small style="color: red;">*</small></label>
                            </div>
                            <div class="col" style="align-items: start;">
                                <select class="form-select m-2" aria-label="Default select example" id="cmbProductType">
                                    <option selected>Open this select menu</option>
                                    <option value="1">Apple</option>
                                    <option value="2">King-coconut</option>
                                </select>
                            </div>
                        </div>
        
                        <div class="row">
                            
                            <div class="col">
                                <label for="type" class="form-label m-2">Quantity<small style="color: red;">*</small></label>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <!-- For cartons -->
                                        <div class="input-group m-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Cartons</span>
                                            </div>
                                            <input id="txtQtyCarton" type="number" class="form-control" placeholder="Enter carton quantity">
                                        </div>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="col">
                                        <!-- For Single units -->
                                        <div class="input-group m-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Singles</span>
                                            </div>
                                            <input id="txtQtySingle" type="number" class="form-control" placeholder="Enter single unit quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <button id="btnCalculate" type="submit" class="btn btn-success m-2">Calculate</button>
                            </div>
                                
                            
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>   
</body>

</html>